* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171717;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.xd {
  overflow-y: auto;
  max-height: 400px;
  max-width: 500px;
  overflow-x: hidden;
  justify-content: space-between;
}
.xd h1 {
  background-color: pink;
}
.App .heading {
  font-size: 4rem;
  font-weight: bold;
  color: purple;
  margin-bottom: 50px;
}
.App p {
  background-color: pink;
  font-size: 2rem;
}

.lmao {
  padding: 10px;
  font-size: 1.5rem;
  padding-block: 20px;
  background-color: pink;
  margin-top: 10px;
  border-radius: 5px;
  padding-inline: 70px;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 1px 8px 0 rgba(0, 255, 136, 0.2),     0px 6px 20px 0 rgb(0, 255, 136, 0.2);
}
.lmao:hover{
  transform: scale(1.1);
}
